Order ID: <input type="number" [(ngModel)]="id"><br><br>
Customer Name: <input type="text" [(ngModel)]="name"><br><br>
Billing Date: <input type="date" [(ngModel)]="bdate"><br><br>
Shipping date: <input type="date" [(ngModel)]="sdate"><br><br>
Order Total: <input type="text" [(ngModel)]="total"><br><br>
<input type="button" value="display" (click)="onClick()">

<div *ngIf="clicked">
    Order ID: {{id}}<br>
    Customer Name: {{name}}<br>
    Billing Date: {{bdate}}<br>
    Shipping date: {{sdate}}<br>
    Order Total: {{total}}<br>
</div>